# Ignora node_modules en cualquier subcarpeta
**/node_modules/

# Builds de Android e iOS
**/android/build/
**/android/app/build/
**/android/app/.cxx/
**/ios/build/
**/ios/Pods/

# Variables de entorno
**/.env
**/.env.local

# Archivos de sistema y logs
.DS_Store
*.log
npm-debug.log*

# Expo
**/.expo/
**/.expo-shared/

# Dependencias de iOS (Mac)
**/ios/*.xcworkspace
**/ios/*.xcuserstate